{% extends "layouts/main-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Welcome to the NWMAC membership portal" %}

{% block content %}
  <form method="post" novalidate="novalidate" action="">
    {% include "includes/csrf.njk" %}

    {% call govukFieldset({
      legend: {
        text: pageTitle,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

    <p class="govuk-body">
      Please enter your email address and press continue.
    </p>

    {{ govukInput({
      label: {
        text: "Email address"
      },
      classes: "govuk-!-width-two-thirds",
      id: "email",
      name: "email",
      value: email,
      autocomplete: "email",
      errorMessage: mapToError(errors, "email")
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
