{% extends "layouts/govuk.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Enter the code we sent to your email address" %}

{% block content %}
    <form method="post" novalidate="novalidate" action="">
        {% call govukFieldset({
            legend: {
                text: pageTitle,
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        }) %}

            <p class="govuk-body">We’ve emailed {{ data.email }} with a security code.</p>

            {{ govukInput({
                legend: {
                    text: pageTitle,
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                },
                id: "security-code",
                name: "securityCode",
                type: "text",
                autocomplete: "one-time-code",
                classes: "govuk-input--width-4 govuk-input--extra-letter-spacing",
                inputmode: "numeric",
                attributes: { maxlength: 6 }
            }) }}

        {% endcall %}

        {% if securityCode %}
            <p>Test security code: <strong>{{ securityCode }}</strong></p>
        {% endif %}

        {{ govukButton({
            text: "Continue"
        }) }}

        <h2 class="govuk-heading-m">If you can't find the email</h2>

        <p class="govuk-body">
            Please check your spam folder.  If you still cannot find it, try <a class="govuk-link" href="/auth/enter-email">entering your email again</a>.
        </p>
    </form>
{% endblock %}
