{% extends "layouts/govuk.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set pageTitle="Sorry, we have not recognised your email address" %}
{% set backLink="/auth/enter-email" %}

{% block content %}
  <form method="post" novalidate="novalidate" action="">
  {% call govukFieldset({
    legend: {
      text: pageTitle,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">
      If you are <strong>already a member</strong>, you may not have entered the email address we have for you.  If this is the case, please press <a class="govuk-link" href="{{ backLink }}"><strong>back</strong></a> and try entering the email address again.
    </p>

    <p class="govuk-body">
      If you are <strong>not a member</strong> and would like to apply for membership, please click the apply for membership button below.
    </p>

  {% endcall %}

  {{ govukButton({
    text: "Apply for membership"
  }) }}
  </form>
{% endblock %}
