<body>
<p>
    Dear {{ fullName }},<br>
    We have received your renewal request with the following answers:
</p>

<table>
    <tbody>
    {% for answer in answers %}
        <tr><td style="vertical-align: top"><strong>{{ answer.key }}</strong></td><td style="vertical-align: top">{{ answer.value | safe }}</td></tr>
    {% endfor %}
    </tbody>
</table>

<h3>Your membership fee for this year based on your answers is:</h3>

<table>
    <tbody>
    {% for item in items %}
        <tr><td style="vertical-align: top"><strong>{{ item.key }}</strong></td><td style="vertical-align: top">{{ item.value | safe }}</td></tr>
    {% endfor %}
    <tr><td colspan="2"><hr></td></tr>
    <tr><td style="vertical-align: top"><strong>Total</strong></td><td style="vertical-align: top">{{ total | safe }}</td></tr>
    </tbody>
</table>

<h3>If you haven't yet paid, please can you make an online payment of {{ total | safe }} to the following account:</h3>

<table>
    <tbody>
    {% for bankDetail in bankDetails %}
        <tr><td style="vertical-align: top"><strong>{{ bankDetail.key }}</strong></td><td style="vertical-align: top">{{ bankDetail.value | safe }}</td></tr>
    {% endfor %}
    </tbody>
</table>

<h3>Once you have made the payment, please let us know by clicking the following <a href="{{ confirmPaymentUrl }}">confirmation of payment link</a></h3>

<p>
    Kind regards,<br>
    {{ clubSecretaryName }},<br>
    NWMAC Club Secretary
</p>

</body>