{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set pageTitle="Select achievements" %}
{% set backLink="/details/check-details" if edit else "/details/caa-registration" %}

{% block formContent %}
    {% call govukFieldset({
        legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

        {% for category in achievementsByCategory %}
            {{ govukCheckboxes({
                name: "achievements",
                fieldset: {
                    legend: {
                        text: category.title,
                        classes: "govuk-fieldset__legend--m"
                    }
                },
                items: category | mapAchievementsToItems
            }) }}
        {% endfor %}
    {% endcall %}
{% endblock %}