{% extends "layouts/govuk.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Enter address" %}
{% set backLink="/details/" + data.state + ("/check-details" if edit else "/name") %}

{% block content %}
  <form method="post" novalidate="novalidate" action="">
  {% call govukFieldset({
    legend: {
      text: "Enter address",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: "Address line 1"
      },
      id: "addressLine1",
      name: "addressLine1",
      value: data.addressLine1,
      autocomplete: "address-line1",
      errorMessage: mapToError(errors, "addressLine1")
    }) }}

    {{ govukInput({
      label: {
        text: "Address line 2 (optional)"
      },
      id: "addressLine2",
      name: "addressLine2",
      value: data.addressLine2,
      autocomplete: "address-line2"
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-two-thirds",
      id: "town",
      name: "town",
      value: data.town,
      autocomplete: "town",
      errorMessage: mapToError(errors, "town")
    }) }}

    {{ govukInput({
      label: {
        text: "County (optional)"
      },
      classes: "govuk-!-width-two-thirds",
      id: "county",
      name: "county",
      value: data.county
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "postcode",
      name: "postcode",
      value: data.postcode,
      autocomplete: "postal-code",
      errorMessage: mapToError(errors, "postcode")
    }) }}

  {% endcall %}

    {{ govukButton({
      text: ("Save and return" if edit else "Save and continue")
    }) }}
  </form>
{% endblock %}
