{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Select age group" %}
{% set backLink="/details/check-details" if edit else "/details/membership-type" %}

{% block formContent %}
        {{ govukRadios({
            name: "ageGroup",
            value: data.ageGroup,
            fieldset: {
                legend: {
                    html: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "senior",
                    text: "18 and over"
                },
                {
                    value: "junior",
                    text: "Under 18 (junior)"
                }
            ],
            errorMessage: mapToError(errors, "ageGroup")
        }) }}
{% endblock %}