{% extends "layouts/govuk.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Select age group" %}
{% set backLink="/details/" + data.state + ("/check-details" if edit else "/membership-type") %}

{% block content %}
    <form method="post" novalidate="novalidate" action="">
        {{ govukRadios({
            name: "ageGroup",
            value: data.ageGroup,
            fieldset: {
                legend: {
                    html: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "senior",
                    text: "18 and over"
                },
                {
                    value: "junior",
                    text: "Under 18 (junior)"
                }
            ],
            errorMessage: mapToError(errors, "ageGroup")
        }) }}

        {{ govukButton({
            text: ("Save and return" if edit else "Save and continue")
        }) }}
    </form>
{% endblock %}