{% extends "layouts/govuk.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle="Select age" %}
{% set backLink="/details/" + state + "/membership-type" %}

{% block content %}
    <form method="post" novalidate="novalidate" action="">
        {{ govukRadios({
            name: "age",
            fieldset: {
                legend: {
                    html: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "senior",
                    text: "18 and over"
                },
                {
                    value: "junior",
                    text: "Under 18 (junior)"
                }
            ],
            errorMessage: mapToError(errors, "age")
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>
{% endblock %}