{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle="Change BMFA number" if edit else "Enter BMFA number" %}
{% set backLink="/details/check-details" if edit else ("/details/phone-numbers" if subscriptionPaymentMade else "/details/age-group") %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: pageTitle,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {% if subscriptionPaymentMade %}
      <input type="hidden" name="bmfaThroughClub" value="{{ data.bmfaThroughClub }}">
    {% else %}
      {% set bmfaMembersCardHtml %}
        {{ govukCheckboxes({
          name: "bmfaMembersCardRequired",
          fieldset: {
            legend: {
              text: "Would you like a BMFA Members card?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: true,
              text: bmfaMembersCardLabel | safe,
              hint: {text: "Only available when registered through the club."},
              checked: data.bmfaMembersCardRequired
            }
          ]
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "bmfaThroughClub",
        value: data.bmfaThroughClub,
        fieldset: {
          legend: {
            text: 'BMFA membership registered through the club?',
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: bmfaMembersCardHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ],
        errorMessage: mapToError(errors, "bmfaThroughClub")
      }) }}
    {% endif %}

    {{ govukInput({
      label: {
        text: "BMFA Number"
      },
      id: "bmfaNumber",
      name: "bmfaNumber",
      value: data.bmfaNumber if data.bmfaNumber else null,
      inputmode: "numeric",
      attributes: { maxlength: 6 },
      disabled: data.confirmed and data.bmfaNumber
    }) }}

  {% endcall %}
{% endblock %}
