{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if operatorIdRequired %}
    {% set pageTitle="Change CAA Operator ID or Flyer ID" if edit else "Enter CAA Operator ID and Flyer ID" %}
{% else %}
    {% set pageTitle="Change CAA Flyer ID" if edit else "Enter CAA Flyer ID" %}
{% endif %}

{% set backLink="/details/check-details" if edit else "/details/bmfa-membership" %}

{% block formContent %}
  {% call govukFieldset({
    classes: "nwmac-caa-field-set",
    legend: {
      text: pageTitle,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {% if operatorIdRequired %}
      <input type="hidden" name="operatorIdRequired" value="true" />
      <div class="govuk-!-width-full">
          {{ govukLabel ({
              text: "Operator ID"
          }) }}
          <p class="govuk-heading-s govuk-!-display-inline-block">GBR-OP-</p>
          {{ govukInput({
            id: "operatorId",
            name: "operatorId",
            value: data.operatorId,
            classes: "govuk-input--width-7 govuk-input--extra-letter-spacing govuk-!-display-inline-block",
            inputmode: "alphanumeric",
            attributes: { maxlength: 12, autocapitalize:"characters" }
          }) }}
      </div>
    {% endif %}

      <div class="govuk-!-width-full">
      {{ govukLabel ({
          text: "Flyer ID"
      }) }}
      <p class="govuk-heading-s govuk-!-display-inline-block">GBR-RP-</p>
        {{ govukInput({
          id: "flyerId",
          name: "flyerId",
            value: data.flyerId,
            classes: "govuk-input--width-7 govuk-input--extra-letter-spacing govuk-!-display-inline-block",
            inputmode: "alphanumeric",
            attributes: { maxlength: 12, autocapitalize:"characters" }
        }) }}
      </div>

  {% endcall %}
{% endblock %}
