{% extends "layouts/main-layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {% set baseUrl = "/details/edit" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            {% if data.membershipNumber > 1 %}
                <h1 class="govuk-heading-l">Check your answers before updating your details</h1>
                <h2 class="govuk-heading-m">Your details</h2>
            {% else %}
                <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
                <h2 class="govuk-heading-m">Application details</h2>
            {% endif %}

            {{ govukSummaryList({
                classes: "govuk-!-margin-bottom-9",
                rows: [
                    {
                        key: { text: 'NWMAC number' },
                        value: { text: data.membershipNumber }
                    },
                    {
                        key: { text: 'Name' },
                        value: { text: data | formatFullName },
                        classes: 'nwmac-error' if errorFields.name,
                        actions: formatActions('name')
                    },
                    {
                        key: { text: 'Address' },
                        value: { html: data | formatAddress },
                        classes: 'nwmac-error' if errorFields.address,
                        actions: formatActions('address')
                    },
                    {
                        key: { text: 'Phone numbers' },
                        value: { html: data | formatPhoneNumbers },
                        classes: 'nwmac-error' if errorFields.mobileNumber,
                        actions: formatActions('phoneNumbers')
                    },
                    {
                        key: { text: 'Membership type' },
                        value: { text: data.membershipType | capitalize },
                        classes: 'nwmac-error' if errorFields.membershipType,
                        actions: null if subscriptionPaymentMade else formatActions('membershipType')
                    },
                    {
                        key: { text: 'Age group' },
                        value: { text: data.ageGroup | capitalize },
                        classes: 'nwmac-error' if errorFields.ageGroup,
                        actions: null if subscriptionPaymentMade else formatActions('ageGroup')
                    },
                    {
                        key: { text: 'BMFA membership' },
                        value: { html: data | formatBmfaMembership },
                        classes: 'nwmac-error' if errorFields.bmfaMembership,
                        actions: formatActions('bmfaMembership')
                    },
                    {
                        key: { text: 'Operator ID' },
                        value: { html: data | formatOperatorId},
                        classes: ('nwmac-error' if errorFields.operatorId) + (' govuk-!-display-none' if data.ageGroup === 'junior'),
                        actions: formatActions('caaRegistration')
                    },
                    {
                        key: { text: 'Flyer ID' },
                        value: { html: data | formatFlyerId },
                        classes: 'nwmac-error' if errorFields.flyerId,
                        actions: formatActions('caaRegistration')
                    },
                    {
                        key: { text: 'Achievements' },
                        value: { html: formatAchievements(data, achievements) },
                        actions: formatActions('achievements')
                    },
                    {
                        key: { text: 'Contact for non-club purposes' },
                        value: { text: data.nonClubContact | capitalize },
                        actions: formatActions('nonClubContact')
                    }
                ]
            }) }}

            {% if subscriptionAvailable and not subscriptionPaymentMade %}
                <h2 class="govuk-heading-m">Cost for {{ year }}</h2>

                {% set rows = [] %}

                {% for fee in fees %}
                    {% set row = {
                        classes: 'govuk-!-font-weight-bold' if fee.key === 'Total' else 'govuk-body-s',
                        key: { text: fee.key },
                        value: { text: fee.value | formatAmount | safe, classes: 'nwmac-text-align-right' }
                    } %}
                    {% set rows = rows.concat(row) %}
                {% endfor %}

                {{ govukSummaryList({
                    classes: "govuk-!-margin-bottom-9",
                    rows: rows
                })}}
            {% endif %}


            {% if data.membershipNumber < 1 %}
                <h2 class="govuk-heading-m">Now send your application</h2>

                <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
            {% endif %}

            <form action="" method="post" novalidate>

                {{ govukButton({
                    text: ("Accept details" if data.membershipNumber > 1 else "Accept and send")
                }) }}

            </form>

        </div>
    </div>
{% endblock %}