{% extends "layouts/govuk.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Application complete",
                html: "Your application will now be processed"
            }) }}

            <p class="govuk-body">We have sent you a confirmation email.</p>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">
                We’ve sent your application to our club secretary.
            </p>
            <p class="govuk-body">
                They will contact you either to confirm your application, or to ask for more information.
            </p>
        </div>
    </div>
{% endblock %}