{% extends "layouts/main-layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set existingMember = data.membershipNumber >= 1 %}

{% if existingMember %}
    {% if subscriptionAvailable or subscriptionPending %}
        {% set pageTitle="Renewal of membership" %}
    {% else %}
        {% set pageTitle="Your membership details" %}
    {% endif %}
{% else %}
    {% set pageTitle="Application for membership" %}
{% endif %}

{% block content %}
    {% set baseUrl = "/details/edit" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

            {% if existingMember %}
                {% if subscriptionPaymentRequired %}
                    <p class="govuk-body">Hi {{ data.preferredName if data.preferredName else data.firstName }}, your membership payment needs to be confirmed.</p>
                    <p class="govuk-body"><a class="govuk-link" href="/details/confirm-payment">Please click here to confirm your payment</a></p>
                {% elseif subscriptionPaymentPending %}
                    <p class="govuk-body">Hi {{ data.preferredName if data.preferredName else data.firstName }}, your membership payment is currently awaiting confirmation.</p>
                {% elseif subscriptionPaymentConfirmed %}
                    <p class="govuk-body">Hi {{ data.preferredName if data.preferredName else data.firstName }}, your membership is paid and confirmed for the year.</p>
                {% elseif subscriptionAvailable %}
                    <p class="govuk-body">Hi {{ data.preferredName if data.preferredName else data.firstName }}, it's time to renew your membership for the next year.</p>
                {% else %}
                    <p class="govuk-body">Hi {{ data.preferredName if data.preferredName else data.firstName }},</p>
                {% endif %}
                <p class="govuk-body">Please make your way through the next few pages updating any missing information or any information that has changed.</p>

                {% include "includes/member-summary.njk" %}
            {% else %}
                <p class="govuk-body">Hi, please enter the required information in the following pages to allow us to process your application for membership.</p>
            {% endif %}
        </div>
    </div>

    <form action="" method="post" novalidate>

        {{ govukButton({
            text: "Continue"
        }) }}

    </form>
{% endblock %}


{% block footerLink %}
    <p class="govuk-body">If this isn't you, <a class="govuk-link govuk-link--no-visited-state" href="/auth/logout">please enter a different email</a></p>
{% endblock %}