{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle="Select type of membership" %}
{% set backLink="/details/check-details" if edit else "/details/phone-numbers" %}

{% block formContent %}
        {{ govukRadios({
            name: "membershipType",
            value: data.membershipType,
            fieldset: {
                legend: {
                    html: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "single",
                    text: "Single"
                },
                {
                    value: "family",
                    text: "Family"
                }
            ],
            errorMessage: mapToError(errors, "membershipType")
        }) }}
{% endblock %}