{% extends "layouts/govuk.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle="Select type of membership" %}
{% set backLink="/details/" + state %}

{% block content %}
    <form method="post" novalidate="novalidate" action="">
        {{ govukRadios({
            name: "membershipType",
            value: data.membershipType,
            fieldset: {
                legend: {
                    html: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "single",
                    text: "Single"
                },
                {
                    value: "family",
                    text: "Family"
                }
            ],
            errorMessage: mapToError(errors, "membershipType")
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>
{% endblock %}