{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set pageTitle="Change name" if edit else "Enter name" %}
{% set backLink="/details/check-details" if edit else "/details/non-club-contact" %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: pageTitle,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: "First name"
      },
      id: "firstName",
      name: "firstName",
      value: data.firstName,
      autocomplete: "given-name",
      errorMessage: mapToError(errors, "firstName")
    }) }}

    {{ govukInput({
      label: {
        text: "Middle name (optional)"
      },
      id: "middleName",
      name: "middleName",
      value: data.middleName,
      autocomplete: "middle-name"
    }) }}

    {{ govukInput({
      label: {
        text: "Last name"
      },
      classes: "govuk-!-width-two-thirds",
      id: "lastName",
      name: "lastName",
      value: data.lastName,
      autocomplete: "family-name",
      errorMessage: mapToError(errors, "lastName")
    }) }}

    {{ govukInput({
      label: {
        text: "Preferred name (optional)"
      },
      classes: "govuk-!-width-two-thirds",
      id: "preferredName",
      name: "preferredName",
      value: data.preferredName
    }) }}

  {% endcall %}
{% endblock %}
