{% extends "layouts/main-layout.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Renewal complete",
                html: "Your renewal for " + data.currentRenewalYear + " will now be processed"
            }) }}

            <p class="govuk-body">We have sent you a confirmation email including details of how to pay your club membership.</p>

            <h2 class="govuk-heading-m">What you should do now</h2>

            <p class="govuk-body">
                You should now pay the total shown below using the bank details provided.
            </p>

            {{ govukSummaryList({
                classes: "govuk-!-margin-bottom-9",
                rows: [
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'NWMAC' },
                        value: { text: clubFee | formatAmount }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'BMFA' },
                        value: { text: bmfaFee | formatAmount }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'CAA' },
                        value: { text: caaReg | formatAmount }
                    },
                    {
                        key: { text: 'Total' },
                        value: { classes: 'govuk-!-font-weight-bold', text: total | formatAmount }
                    }
                ]
            })}}

            <p class="govuk-body">
                The club's bank account details are as follows.
            </p>

            {{ govukSummaryList({
                classes: "govuk-!-margin-bottom-9",
                rows: [
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Sortcode' },
                        value: { text: sortcode }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Account number' },
                        value: { text: account }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Account name' },
                        value: { text: name }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Reference' },
                        value: { text: reference }
                    }
                ]
            })}}

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">
                Please pay for your membership online with the following bank details and a
                Our treasurer will now await your payment.
            </p>
            <p class="govuk-body">
                You will receive a confirmation email when your payment has been received and confirmed.
            </p>
        </div>
    </div>
{% endblock %}