{% extends "layouts/main-layout.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle="Renewal confirmation" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Renewal complete",
                html: "Your renewal for " + data.currentRenewalYear + " will now be processed"
            }) }}

            <p class="govuk-body">We have sent you a confirmation email including details of how to pay your club membership.</p>

            <h2 class="govuk-heading-m">What you should do now</h2>

            <p class="govuk-body">
                Please pay <span class="govuk-!-font-weight-bold">{{ total | formatAmount | safe }}</span> using the bank details provided.
            </p>

            {{ govukSummaryList({
                classes: "govuk-!-margin-bottom-9",
                rows: [
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Sortcode' },
                        value: { text: sortcode }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Account number' },
                        value: { text: account }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Account name' },
                        value: { text: name }
                    },
                    {
                        classes: 'govuk-body-s',
                        key: { text: 'Reference' },
                        value: { text: reference }
                    }
                ]
            })}}

            <p class="govuk-body">
                After you have paid please <a href="/details/confirm-payment" class="govuk-link">click this confirmation link</a> to confirm your payment.
            </p>

            <p class="govuk-body govuk-hint">
                Please note that there is also a confirmation of payment link in the email we just sent you just in case you lose this page.
            </p>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">
                Our treasurer will now await your payment.
            </p>
            <p class="govuk-body">
                You will receive a confirmation email when your payment has been confirmed.
            </p>
        </div>
    </div>
{% endblock %}