{% if data.isTreasurer or data.isSecretary %}
    {% set navigation = [{
        href: "/details",
        text: "My Profile",
        active: true
    },{
        href: "/admin/fees",
        text: "Update Fees for " + data.currentRenewalYear
    }] %}
    {%  if feesAvailable %}
        {% set navigation = navigation.concat({
            href: "/admin/confirm-pending-payments",
            text: "Confirm pending payments for " + data.currentRenewalYear
        },{
            href: "/admin/payments-breakdown",
            text: "Payments breakdown for " + data.currentRenewalYear
        }) %}
        {% if data.isSecretary %}
            {% set navigation = navigation.concat({
                href: "/admin/confirm-renewals",
                text: "Confirm renewals for " + data.currentRenewalYear
            }) %}
        {% endif %}
    {% endif %}
    {{ govukServiceNavigation({
        navigation: navigation
    }) }}
{% endif %}
