{% extends "layouts/govuk.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Hello Gov.uk!</h1>
  <p class="govuk-body">This is a simple example using Gov.uk Design System and Nunjucks.</p>
{% endblock %}
