{% extends "layouts/form-layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = 'Confirm payments received for ' + currentRenewalYear %}

{% set items = [] %}

{% for member in membersPendingPayments %}
    {% set item = {
        value: member.memberId,
        text: member.memberName,
        hint: {
            html: (
            "Type: " + member.paymentMethod + (
            "<br> Ref: " + member.paymentReference if member.paymentMethod === 'BACS' else '') +
            "<br> Due: " + member.totalDue | formatAmount +
            "<br> <strong>Paid: " + member.amountPaid | formatAmount + "</strong><br> "
            ) | safe
        },
        checked: member.confirmed
    }
    %}
    {% set items = (items.push(item), items) %}
{% endfor %}

{% block formContent %}
    {% call govukFieldset({
        legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

        {% if items.length %}
        {% set membersWhoHavePaid = govukCheckboxes({
                name: "payments",
                hint: {
                    text: "Tick members who have paid"
                },
                items: items
            })
        %}

        {{ govukDetails({
            summaryText: "Members who have paid",
            open: true,
            html: membersWhoHavePaid
        }) }}

        {% else %}

            {{ govukInsetText({
                text: "No members payments to be confirmed"
            }) }}

        {% endif %}

        {% if membersConfirmedPaid.length %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {% set membersConfirmedPaidList = "<ul class='govuk-list govuk-list--spaced'>" %}
            {% for member in membersConfirmedPaid %}
                {% set membersConfirmedPaidList = membersConfirmedPaidList
                    + "<li>" + member.memberName
                    + " <br> <span class='govuk-hint'>" + member.membershipNumber | defaultBankReference + "</span>"
                    + " <br> <strong>Paid: " + member.amountPaid | formatAmount + "</strong><br> "
                    + "</li>"
                %}
            {% endfor %}
            {% set membersConfirmedPaidList = membersConfirmedPaidList + "</ul>" %}

            {{ govukDetails({
                summaryText: "Members confirmed paid",
                html: membersConfirmedPaidList | safe
            }) }}
        {% endif %}

        {% if remainingMembers.length %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            {% set remainingMembersList = "<ul class='govuk-list govuk-list--spaced'>" %}
            {% for member in remainingMembers %}
                {% set remainingMembersList = remainingMembersList
                    + "<li>" + member.memberName
                    + " <br> <span class='govuk-hint'>" + member.membershipNumber | defaultBankReference + "</span>"
                    + "</li>"
                %}
            {% endfor %}
            {% set remainingMembersList = remainingMembersList + "</ul>" %}

            {{ govukDetails({
                summaryText: "Members yet to pay",
                html: remainingMembersList
            }) }}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endcall %}
{% endblock %}

{% block formSubmit %}
    <div class="govuk-button-group">
        {{ govukButton({
            text: ("Save")
        }) }}

        <a class="govuk-link" href="/details">Cancel</a>
    </div>
{% endblock %}