{% extends "layouts/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle="Enter the fees for " + nextRenewalYear %}

{% block formContent %}
    {% call govukFieldset({
        legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

        {% set type = '' %}
        {% for fee in fees %}
            {% if type !== fee.type %}
                {% if type !== '' %}
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                {% endif %}
                <h2 class="govuk-heading-m">{{ fee.type }}</h2>
                {% set type = fee.type %}
            {% endif %}
            {% set prevValue = fee.prevValue %}
            {{ govukInput({
                id: fee.name,
                name: fee.name,
                label: {
                    text: fee.title
                },
                prefix: {
                    text: "£"
                },
                value: fee.value,
                hint: { text: "Was £" + prevValue + " in " + currentRenewalYear },
                errorMessage: mapToError(errors, fee.name),
                classes: "govuk-input--width-5",
                spellcheck: false
            }) }}
        {% endfor %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {{ govukCheckboxes({
            name: "available",
            fieldset: {
                legend: {
                    text: "Make subscriptions available for " + nextRenewalYear,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "available",
                    text: "Yes",
                    checked: available
                }
            ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% endcall %}
{% endblock %}

{% block formSubmit %}
    <div class="govuk-button-group">
        {{ govukButton({
            text: ("Save")
        }) }}

        <a class="govuk-link" href="/details">Cancel</a>
    </div>
{% endblock %}