{% extends "layouts/main-layout.njk" %}

{% set pageTitle="Member details" %}

{% set backLink="/admin/confirm-pending-payments" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            {% include "includes/member-summary.njk" %}
        </div>
    </div>
{% endblock %}