{% extends "layouts/main-layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle="Payments breakdown for " + currentRenewalYear %}

{% block content %}
    {{ govukTable({
        caption: "Payments to BMFA",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "Member"
            },
            {
                text: "BMFA No"
            },
            {
                text: "Amount",
                classes: "govuk-!-text-align-right"
            }
        ],
        rows: bmfaPayments | mapBmfaTable
    }) }}

    {{ govukTable({
        caption: "Payments to CAA",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "Member"
            },
            {
                text: "Operator-ID"
            },
            {
                text: "Amount",
                classes: "govuk-!-text-align-right"
            }
        ],
        rows: caaPayments | mapCaaTable
    }) }}
{% endblock %}