{% extends "layouts/main-layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% set pageTitle="Payments breakdown for " + currentRenewalYear %}


{% block content %}
    {% set bmfaRows = bmfaPayments | mapBmfaTable %}
    {{ govukTable({
        caption: "Payments to BMFA",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "Member"
            },
            {
                text: "BMFA No"
            },
            {
                text: "Amount",
                classes: "govuk-!-text-align-right"
            }
        ],
        rows: bmfaRows
    }) }}

    {% set caaRows = caaPayments | mapCaaTable %}

    {% for caaRow in caaRows %}
        {% if loop.index === caaRows.length %}
            {% set caaRow = caaRow.push({ text: '' }) %}
        {% else %}
            {% set checkBox = govukCheckboxes({
                name: "caaRenewed-" + caaPayments[loop.index].memberId,
                classes: "govuk-checkboxes--small nwmac-renewal-checkbox",
                items: [
                    {
                        text: ' ',
                        value: caaPayments[loop.index].confirmedWithCaa,
                        checked: caaPayments[loop.index].confirmedWithCaa
                    }
                ]
            }) %}
            {% set caaRow = caaRow.push({ html: checkBox }) %}
        {% endif %}
    {% endfor %}

    {{ govukTable({
        caption: "Payments to CAA",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "Member"
            },
            {
                text: "Operator-ID"
            },
            {
                text: "Amount",
                classes: "govuk-!-text-align-right"
            },
            {}
        ],
        rows: caaRows
    }) }}
{% endblock %}