{% extends "govuk/template.njk" %}

{% block head %}
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
    {{ super() }} - My Gov.uk App
{% endblock %}

{% block mainContent %}
    {{ block("content") }}
{% endblock %}
