{% extends "govuk/template.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set assetPath = "/public" %}
{% set themeColor = "#1d70b8" %}

{% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ assetPath | default("/assets", true) }}/images/favicon.ico">
    <link rel="icon" sizes="any" href="{{ assetPath | default("/assets", true) }}/images/favicon.svg" type="image/svg+xml">
    <link rel="manifest" href="{{ assetPath | default("/assets", true) }}/manifest.json">
{% endblock %}

{% block head %}
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-width-container">
            <h2>North Wiltshire Model Aircraft Club (NWMAC)</h2>
        </div>
    </header>
    {{ govukServiceNavigation({
        navigation: [
            {
                href: "#",
                text: "Login"
            },
            {
                href: "#",
                text: "Register",
                active: true
            },
            {
                href: "#",
                text: "Renew membership for 2025"
            }
        ]
    }) }}
{% endblock %}

{% block pageTitle %}
    NWMAC
{% endblock %}

{% block mainContent %}
    {{ block("content") }}
{% endblock %}

{% block footer %}{% endblock %}

