{% extends "govuk/template.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set assetPath = "/public" %}
{% set themeColor = "#1d70b8" %}

{% block headIcons %}{% endblock %}

{% block head %}
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-width-container">
            <h2 class="govuk-!-padding-top-5">North Wiltshire Model Aircraft Club (NWMAC)</h2>
        </div>
    </header>
{% endblock %}

{% block beforeContent %}
    {% if backLink %}
        {{ govukBackLink({
            text: "Back",
            href: backLink
        }) }}
    {% endif %}
    {% if errors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors | mapToErrorSummary
        }) }}
    {% endif %}
{% endblock %}

{% block pageTitle %}
    {{ "Error: " if errors }} {{ pageTitle + " - " if pageTitle }} NWMAC
{% endblock %}

{% block mainContent %}
    {{ block("content") }}
{% endblock %}

{% block footer %}
    <footer class="govuk-footer app-footer">
        <div class="govuk-width-container app-width-container">
            {% block footerLink %}{% endblock %}
        </div>
    </footer>
{% endblock %}

