@import '../../../node_modules/govuk-frontend/dist/govuk/all.scss';

.nwmac-caa-field-set {
  .govuk-form-group {
    display: inline-block;
  }
}

.nwmac-error dt {
  padding-left: 15px;
  border-left: 5px solid $govuk-error-colour;
}