@import '../../../node_modules/govuk-frontend/dist/govuk/all.scss';

.nwmac-caa-field-set {
  .govuk-form-group {
    display: inline-block;
  }
}

.nwmac-error dt {
  padding-left: 15px;
  border-left: 5px solid $govuk-error-colour;
}

.nwmac-error-text {
  color: $govuk-error-colour;
}

@media (min-width:40.0625em) {
  .nwmac-text-align-right {
    text-align: right;
  }
}

@media (max-width:40.0624em) {
  .nwmac-table {
    .govuk-table__header,
    .govuk-table__cell {
      padding-left: 8px;
    }
    :last-child {
      padding-left: 0;
    }
  }
}

.nwmac-renewal-table {
  .govuk-table__header,
  .govuk-table__cell {
    vertical-align: middle;
  }
  .nwmac-renewal-column {
    padding: 0;
  }

  .nwmac-renewal-checkbox {
    padding: 0;
  }
}
